@media (max-width: $screen-small-size)
    .nav-disappear
        display: none

@media (min-width: $screen-small-size) and (max-width: $screen-change-fonts)
    .banner-text
        &_top
            @include txt-size-height(44px, 53px)
        &_buttom
            @include txt-size-height(24px, 29px)
    .banner
        margin-left: 0

@media (max-width: $screen-small-size)
    .banner-text
        &_top
            @include txt-size-height(38px, 48px)
        &_buttom
            @include txt-size-height(20px, 24px)

    .section-padding
        padding: 15% 1% 15% 1%

    .section-grid
        display: grid
        grid-template-rows: 1fr 1fr 1fr 0.68fr
        grid-template-columns: repeat(3, 1fr)
        row-gap: 2%
        column-gap: 0

    .section-item
        grid-column: 1/4
        &__unite
            grid-column: 1/4

    .section-item__unite .section-img
        content: url("../image/picture5.jpg")

    .items-grid
        grid-template-rows: repeat(6, 1fr)
        grid-template-columns: repeat(1, 1fr)
        justify-items: tretch
        column-gap: 2%

    .items-header
        font-size: 28px

    .items-paragraph
        font-size: 12px
        padding: 1% 0 15% 0

@media (min-width: $screen-small-size) and (max-width: 640px)
    .section-link-text
        @include txt-size-height(12px, 14px)
        &_pink
            @include txt-size-height(16px, 20px)

@media (max-width: 640px)
    .banner-img
        display: none
    .banner-flex
        justify-content: center
        align-items: center
    .banner
        margin-left: 0
        min-height: $banner-height-small

@media (min-width: $screen-small-size) and (max-width: $screen-middle-size)
    .items-grid
        grid-template-rows: repeat(3, 1fr)
        grid-template-columns: repeat(2, 1fr)
        justify-items: stretch

@media (max-width: $site-width-small)  
    .adv-flex
        padding: 10% 2%   
        gap: 3% 

@media (max-width: $site-width-small) and (min-width: $screen-small-size)
    .advantages
        margin-top: 8%
    
@media (max-width: $screen-small-size)  
    .advantages
        margin-top: 30% 

@media (max-width: $screen-middle-size)
    .adv-flex
        flex-wrap: wrap
        justify-content: center
        gap: 50px
    .footer-top-flex 
        flex-direction: column
        min-height: $height-footer-min-img 
        padding-top: 64px
        padding-bottom: 140px    
    .footer-background
        height: 100%
        background-size: cover
    .figure-blockquote
        font-size: 18px
    .subscription-h2
        font-size: 24px
        line-height: 36px
    .subscription-h3
        font-size: 14px
        line-height: 36px
    .footer-bottom
        height: $height-footer-min
    .bottom-flex
        flex-direction: column-reverse
        justify-content: space-around
    .media-box
        padding-top: 4%
    .show__model
        min-width: 374px
    .description__price
        width: 85%
        padding-bottom: 40px
    .items-grid-product
        grid-template-rows: repeat(1, 1fr)
        grid-template-columns: repeat(2, 1fr)
    .item-product:nth-of-type(3)
        @include hide
    .items__grid-catalog
        grid-template-rows: repeat(4, 1fr)
        grid-template-columns: repeat(2, 1fr)
    .items__grid-catalog .item:last-child
        @include hide

@media (max-width: $screen-sm-size)
    .section__box
        flex-direction: column
        justify-content: space-around
    .description__price
        width: 50%
    .description__details
        @include txt(400, 10px, 12px, $color-description-details)
    .items__grid-catalog
        grid-template-rows: repeat(8, 1fr)
        grid-template-columns: repeat(1, 1fr)

@media (max-width: $screen-small-size)
    .item-product:nth-of-type(2)
        @include hide
    .item-product:nth-of-type(3)
        display: flex
        z-index: 1
    .items-grid-product
        grid-template-rows: repeat(2, 1fr)
        grid-template-columns: repeat(1, 1fr)
    
@media (max-width: $screen-change-catalog)
    .filter
        max-width: 17vw
    .filter__relative
        max-width: 17vw
    .filter__span
        display: none
    .filter__svg
        width: 37px
        height: 25px
    .choice__relative
        max-width: 83vw
        right: 0px

@media ( max-width: 1190px )
    .main_flex
        gap: 50px

@media ( max-width: 1104px )
    .main_flex
       flex-direction: column
       min-height: 777px
    .main__content_right
        flex-direction: row
        gap: 16px
    .cart_group-button
        justify-content: center
        gap: 48px
    .total
       margin: 45px 0


@media ( max-width: 750px )
    .main__content_right
        flex-direction: column
    .cart__text
       @include txt-size-height(14px, 25px) 
    .cart__text-head
        @include txt-size-height(16px, 25px)
    .cart__text_padding 
        padding: 14px 30px 20px 14px
    .cart__img
        max-width: 150px
    .cart__text-head 
        padding-bottom: 14px
    .cart_flex
        justify-content: space-between

@media ( max-width: 475px )
    .cart__text_padding 
        padding: 0 5px
    .cart__close 
        padding: 15px 10px 0 0
    .cart_group-button
        flex-direction: column
    .cart__button
        @include txt-size-height(12px, 14px)

@media ( max-width: 1000px )
    .registration_flex
        gap: 22px
    .registration__perks-header
        @include txt(300, 16px, 19px, $color-text-black)
    .registration__perks-text
        @include txt(300, 16px, 19px, $color-text-black)
    .registration__perks__list
        @include txt(300, 16px, 19px, $color-text-black)
    .registration__form
        width: calc($width-one-third - 60px)

@media ( max-width: 607px )
    .registration__form
        width: 85vw
    .registration_flex
        flex-direction: column
        align-items: center
    