// Ширина страницы
$site-width-big: 1600px
$site-width: 1140px
$site-width-small: 1163px
$width-one-third: 360px

// Размеры окна для медиа запросов
$screen-small-size: 376px
$screen-change-fonts: 885px
$screen-middle-size: 768px
$screen-sm-size: 500px
$screen-change-catalog: 630px

// Цвета
$color-bg-header: #222222
$color-bg-banner: #F1E4E6
$color-bg-item: #F8F8F8
$color-text-dark: #222222
$color-text-pink: #F16D7F
$color-btn-pink: #FF6A6A
$color-text-white: #FFFFFF
$color-text-black: #000000
$color-text-items-grey: #9F9F9F
$color-text-items-taupe: #5D5D5D
$color-bg-adv:#222224
$color-bg-footer: #222224
$color-text-adv: #FBFBFB
$color-btn-pink: #E05C6E
$color-icon-pink: #F16D7F
$color-bg-section: #F8F3F4
$color-nav-txt: #636363
$color-bg-show: #F7F7F7
$color-show-button: #d8d8d8
$color-description-head-big: #4D4D4D
$color-description-text: #5E5E5E
$color-description-border: #EAEAEA
$color-description-details: #6F6E6E
$color-cart-text: #575757
$color-card-border-form: #EAEAEA
$color-card-button: #A4A4A4
$color-bg-total: #F5F3F3
$color-text-total: #4A4A4A
$color-registration-text: #B1B1B1

// Высота блоков
$header-height: 74px
$banner-height-big: 764px
$banner-height-middle: 368px
$banner-height-small: 363px
$height-adv-padding: 104px
$height-adv-card: calc(341px - ($height-adv-padding * 2))
$height-footer-min-img: 448px
$height-footer-min: 143px
$height-footer: 79px
$height-section: 148px
$height-description: 600px
$padding-description-top: -45px
